$bggrey: #F6F6F8;

$fstitle: 36px;
$fssubtitle: 18px;
$fstext: 16px;
$fstitle-mobile: 26px;

$fw: 500;
$fwsubtitle: 600;
$fwtitle: 700;

$dark-color: #323232;
$light-color: #999;
$black-color: #000;
$wight-color: #fff;
$accent-color: #4985FF;

$xxl-min: 1920px;
$xl-max: 1919px;
$xl-min: 1200px;
$md-max: 1199px;
$md-min: 768px;
$sm-max: 767px;