@import './components/variables';
@import './components/mixin';
@import './blocks/header';
@import './blocks/first-screen';
@import './blocks/services';
@import './blocks/development';
@import './blocks/specialization';
@import './blocks/research';
@import './blocks/project';
@import './blocks/footer';


* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    min-width: 200px;
    min-height: 45px;
    outline: none;
    border: none;
    background-color: $accent-color;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    @include fonts($fstext,$wight-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.2;
    font-weight: $fw;
}

.straight {
    opacity: 0.5;
    border: 1px solid #A1A1A1;
    width: 100%;
    margin: 0;
}